<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/tablesorter/jquery.tablesorter.js"></script>
   <link href="/bower_components/tablesorter/themes/blue/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
</head>
<body>
    <div class="home-top">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/deutsch">J/S</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/deutsch">Home</a></li>
                        <li><a href="/about&deutsch">About</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Portfolio <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/translating&deutsch">Translating</a></li>
                                <li><a href="/writing&deutsch">Writing</a></li>
                                <li><a href="/editing&deutsch">Editing</a></li>
                            </ul>
                        </li>
                        <li><a href="/resume&deutsch">Resume</a></li>
                        <li><a href="/contact&deutsch">Contact</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="photos/Germany.png" class="tiny-flag"> <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/translating"><img src="photos/UK.png" class="tiny-flag"> English</a></li>
                                <li><a href="/translating&deutsch"><img src="photos/Germany.png" class="tiny-flag"> German</a></li>
                                <li><a href="/translating&russian"><img src="photos/Russia.png" class="tiny-flag"> Russian</a></li>
                                <li><a href="/translating&serbian"><img src="photos/Serbia.png" class="tiny-flag"> Serbian</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="vert-center center">
            <h1 class="white">{{{name}}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-2 col-sm-offset-2">
            <br><label>Category [T1]</label>
        <select onChange="window.location.href=this.value" class="form-control">
            {{#categories}}
            <option {{select}} value="/translating&{{category}}">{{category}}</option>
            {{/categories}}
        </select>
        </div>
        <div class="col-md-8 col-md-offset-2 table-cont">
            <div class="container-fluid">

            </div>
            <table id="myTable" class="table table-hover tablesorter">
                <thead>
                    <tr>
                        <th>Name [T2]</th>
                        <th>Category</th>
                        <th>Type [T3]</th>
                    </tr>
                </thead>
                <tbody>
                    {{#list}}
                    <tr class="clickable-row" data-url="{{path}}">
                        <td>{{title}}</td>
                        <td>{{category}}</td>
                        <td>{{type}}</td>
                    </tr>
                    {{/list}}
                </tbody>
                <script>
                    jQuery(document).ready(function($) {
                        $(".clickable-row").click(function() {
                            window.document.location = $(this).data("url");
                        });
                    });
                </script>
            </table>
            <script>
                $(document).ready(function()
                    {
                        $("#myTable").tablesorter();
                    }
                );
            </script>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="center">
                First Last &#9642;
                1234 First Street,
                00000 City &#9642;
                (000) 000-0000&#9642;
                <a href="mailto:fake_email@fake_email.com">fake_email@fake_email.com</a><br>
            </div><br>
            <div class="col-sm-4">&#169; 2016 Christian Ciabattoni</div>
            <div class="center col-sm-4 col-sm-offset-4">Designed by <a href="http://fstackdev.com">fstackdev</a></div>
        </div>
    </div>
</body>
